<header class="site-header">
  <div class="terminal-header">
    <div class="header-left">
      <a href="{{ "/" | absURL }}" class="site-logo">
        <pre class="ascii-logo">                       $$$$$$$$$$$$$$$$                      
                  $$$$$$$$$$$$$$$$$$$$$$$$$$                 
               $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$              
            $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$           
          $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$         
        $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$       
       $$$$$$$  $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$      
     $$$$$$$$$  $$$$$$    $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$    
    $$$$$    $$$$$$$         $$$$$$$$$$$$$$$$$$$$$$$$$$$   
           $$$$   $$   $$$$   $$$$$$$$$$$$$$$$$$$$$$$$$$$  
    $$   $$$$$   $$   $$$$   $$$$$$$$$$$$$$$$$$$$$$$$$$$$$  
 $$$$$    $$$$$   $$   $$$   $$$$$$$$$$$$$$$$$$$$$$$$    $$ 
 $$$$$$   $$$$$   $$       $$$$$$$$$$$$$$$$$$$$$$$          
$$$$$$$$   $$$$$   $$   $$$$$$$$      $$$      $$$  $$$$$   
$$$$$$$$   $$$$$$$$$$   $$$       $$$$$   $$$   $$   $$$$   
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$    $$$$$$$$      $    $$   $
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$   $$$$$   $$$   $$       $$
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$   $$$$        $$$   $$$$$$
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$   $$$$$$   $$$$$$$   $$$$$
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$   $$$$$$$$$$$$$$$$$$$$$$$
 $$$$$$$$$$$$$$$$  $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ 
 $$$$$$$$$$$$$$$$   $$$$$$    $$$$$$$$$$$$$$$$$$$$$$$$$$$$$ 
  $$$$$$$$$$    $$$$$$$         $$$$$$$$$$$$$$$$$$$$$$$$$$  
  $$$$        $$$$   $    $$$$   $$$$$$$$$$$$$$$$$$$$$$$$$  
   $$$  $$   $$$$$   $$   $$$$   $$$$$$$$$$$$$$$$$$$$$$$$   
    $$$$$$    $$$$$   $$   $$$   $$$$$$$$$$$$$$$$$$$$$$$    
      $$$$$   $$$$$   $$       $$$$$$$$$$$$$$$$$$$$$$$      
       $$$$$   $$$$$   $$   $$$$$$$$$$$$$$$$$$$$$$$$$       
         $$$   $$$$$$$$$$   $$$$$$$$$$$$$$$$$$$$$$$         
           $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$           
              $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$              
                 $$$$$$$$$$$$$$$$$$$$$$$$$$                 
                      $$$$$$$$$$$$$$$$                      </pre>
      </a>
    </div>
  </div>
  
  <nav class="site-nav">
    <div class="nav-container">
      <span class="nav-prompt">~/</span>
      <a href="{{ "/" | absURL }}">home</a>
      {{ range .Site.Menus.main }}
        <a href="{{ .URL | absURL }}">{{ .Name }}</a>
      {{ end }}
    </div>
  </nav>
</header>
